/*PROFILE*/
.profile {
  margin-top: 90px;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 130px;
  position: relative;
}
.profile a {
  overflow: hidden;
  width: 95px;
  height: 95px;
  border-radius: 100%;
}
.profile__img {
  width: 100%;
  height: 100%;
}
.profile__name {
  color: var(--white-color);
  font-size: 3rem;
  font-weight: 700;
  margin-top: 5px;
}
.profile__vip {
  position: absolute;
  top: 0;
  right: 30px;
  display: flex;
}
.profile__vip-upgrate {
  background-color: #dfd019;
  color: var(--black-color);
}
.profile__vip-upgrate,
.profile__vip-entercode {
  margin-left: 10px;
  width: 124px;
}
.profile__vip-entercode {
  color: var(--white-color);
  background-color: var(--active-color);
}
.profile__vip-more {
  font-size: 1.4rem;
  color: var(--white-color);
  background: var(--active-color);
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
}
.profile__vip-more i {
  color: var(--white-color);
}
/*music-option*/
.music__option {
  display: flex;
  justify-content: center;
  margin: 50px 0 30px;
}
.music__option-list {
  display: flex;
  list-style: none;
  height: 32px;
  width: 500px;
  background-color: var(--active-color);
  border-radius: 16px;
  align-items: center;
}
.music__option-item {
  flex: 1;
  text-align: center;
  line-height: 26px;
  color: var(--white-color);
  font-size: 1.2rem;
  text-transform: uppercase;
  border-radius: 20px;
  cursor: pointer;
}
.music__option-item:first-child {
  margin-left: 3px;
}
.music__option-item.music__option-item--active {
  background-color: rgb(129, 99, 153);
}
/*song */
.option-all {
  color: var(--white-color);
  margin-left: 30px;
  margin-right: 35px;
}
.option__artist-heading,
.option__mv-heading,
.option__song-heading,
.option__playlist-heading {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 36px;
}
.option__artist-heading-left,
.option__mv-heading-left,
.option__song-heading-left,
.option__playlist-heading-left {
  font-size: 2rem;
  margin-bottom: 20px;
  padding: 0;
}
.option__song-heading-right {
  display: flex;
}
.option__song-heading-right-playall-btn {
  width: 138px;
  background-color: var(--primary-color);
}
.option__song-heading-right-playall-btn i {
  margin-right: 10px;
}
.option__song-heading-right-upload-btn i {
  margin-right: 10px;
}
.option__song-heading-right-upload-btn {
  width: 104px;
  background-color: var(--active-color);
}
.more-artist,
.more-mv,
.more-list,
.more-playlist {
  display: flex;
  align-items: center;
  cursor: pointer;
  transform: translateX(-20px);
  opacity: 0;
  transition: all linear 0.35s;
  font-size: 1.4rem;
}
.more-artist span,
.more-mv span,
.more-playlist span,
.more-list span {
  display: block;
  font-weight: 400;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  padding-right: 8px;
  line-height: 43px;
}

.more-artist:hover i,
.more-artist:hover span,
.more-mv:hover i,
.more-mv:hover span,
.more-playlist:hover i,
.more-playlist:hover span,
.more-list:hover i,
.more-list:hover span {
  color: var(--primary-color);
}
.option__song:hover .option__song-heading .more-list {
  opacity: 1;
  transform: translateX(0);
}
/* SLIDER */
.option__song-slider {
  display: flex;
  align-items: center;
  width: 197px;
  height: 206px;
  position: relative;
  margin-top: 36px;
}
.option__song-slider .option__song-slider-img {
  position: absolute;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.9s linear;
  overflow: hidden;
}
.option__song-slider-img-first {
  transform: translate3d(30px, 0, 30px);
  width: 168px;
  height: 168px;
  z-index: 3;
  opacity: 0.9;
}
.option__song-slider-img-second {
  transform: translate3d(15px, 0, 15px);
  width: 134px;
  height: 134px;
  opacity: 0.6;
  z-index: 2;
}
.option__song-slider-img-third {
  transform: translate3d(0, 0, 0);
  width: 100px;
  height: 100px;
  opacity: 0.3;
  z-index: 1;
}
/*song */

.option__songs {
  margin: 24px 0;
}
.option__songs-list {
  list-style: none;
  height: 241px;
  overflow-y: auto;
}
.option__songs-list {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.option__songs-list::-webkit-scrollbar {
  display: none;
}
.nextsong-item,
.song-item {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid var(--active-color);
}

.song-item-left {
  display: flex;
  align-items: center;
}
.nextsong-item-img,
.song-item-left-img {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  position: relative;
}
.nextsong-item-img-playbtn,
.nextsong-item-img-playing-box,
.song-item-left-img-playbtn,
.song-item-left-img-playing-box {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}
.nextsong-item-img-playbtn,
.song-item-left-img-playbtn {
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}
.nextsong-item-img-playing-box,
.song-item-left-img-playing-box {
  border-radius: 4px;
}
.nextsong-item-img-playing,
.song-item-left-img-playing {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.song-item-left-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px;
  width: 300px;
}
.song-item:hover {
  background: var(--active-color);
}
.song-item.song-item--active .song-item-left-img-playbtn {
  display: flex;
}
.song-item:hover .song-item-left-img-playbtn {
  display: flex;
}
.song-item-left-img.song-item--active-onplay .song-item-left-img-playing-box {
  display: flex;
}
.song-item-left-img.song-item--active-onplay .song-item-left-img-playbtn {
  display: none;
}
.song-item:hover.song-item--active-onplay .song-item-left-img-playbtn {
  display: none;
}
.nextsong-item-body-name,
.song-item-left-body-name {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  padding-bottom: 5px;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  padding-bottom: 10px;
}
.nextsong-item-body-singer,
.song-item-left-body-singer {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.5);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
}
.song-item-center {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  width: 300px;
  cursor: default;
}
.song-item-center span {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.song-item:hover .song-item-center {
  width: 82px;
  justify-items: left;
}

.song-item-right {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 190px;
}

.song-item-right-mv,
.song-item-right-lyric,
.song-item-right-more {
  color: var(--white-color);
  font-size: 1.4rem;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}
.song-item-right-tym {
  color: var(--primary-color);
  font-size: 1.5rem;
  padding: 10px 11px;
  border-radius: 50%;
  cursor: pointer;
}
.song-item-right-mv {
  padding: 10px 10px;
}
.song-item-right-lyric {
  padding: 10px 14px;
}
.song-item-right-tym:hover,
.song-item-right-mv:hover,
.song-item-right-lyric:hover,
.song-item-right-more:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.song-item-right-duration {
  width: 50px;
  color: var(--blur-color);
  font-size: 1.2rem;
  font-weight: 500;
  text-align: right;
}
.song-item-right-more {
  padding: 9px 11px;
  display: none;
  margin-left: 18px;
  margin-right: -2px;
}
.song-item-right-tym-first {
  display: none;
}
.song-item-right-tym.songs-item-right-tym-first--active
  .song-item-right-tym-first {
  display: block;
}
.song-item-right-tym.songs-item-right-tym-first--active
  .song-item-right-tym-last {
  display: none;
}
.song-item:hover .song-item-right-more,
.song-item:hover .song-item-right-mv,
.song-item:hover .song-item-right-lyric {
  display: block;
}
.song-item:hover .song-item-right-duration {
  display: none;
}
.song-item.song-item--active {
  background-color: var(--active-color);
}
.option__playlist:hover .option__playlist-heading .more-playlist {
  opacity: 1;
  transform: translateX(0);
}
/*playlist*/
.option__playlist {
  margin-bottom: 30px;
}
.option__playlist-heading {
  width: 100%;
}
.option__playlist-add {
  height: 100%;
  background: linear-gradient(33deg, #5a1eae -7%, #ce267a 117%);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.option__playlist-add i {
  font-size: 4rem;
}
.option__playlist-add span {
  padding-top: 10px;
  font-size: 1.4rem;
}
.option__mv-item-wrapper,
.option__playlist-item-img-wrapper {
  overflow: hidden;
  position: relative;
  background-color: #ccc;
  border-radius: 4px;
}
.option__artist-item-wrapper-img,
.option__playlist-item-img {
  padding-top: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 5px;
  transition: transform 0.7s ease;
  overflow: hidden;
}
.option__artist-item-wrapper:hover .option__artist-item-wrapper-img,
.option__mv-item-wrapper:hover .option__mv-item-wrapper-img,
.option__playlist-item-img-wrapper:hover .option__playlist-item-img {
  transform: scale(1.1);
  filter: brightness(0.5);
}
.option__artist-item-wrapper-img-action,
.option__mv-item-wrapper-img-action,
.option__playlist-item-img-wrapper-action {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  cursor: pointer;
}
.option__playlist-item-content-head {
  font-size: 1.4rem;
  font-weight: 600;
  padding: 10px 0 2px 0;
}
.option__playlist-item-content-head:hover {
  color: var(--primary-color);
}
.option__playlist-item-content-desc {
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--blur-color);
  cursor: default;
}
.option__playlist-item-img-wrapper-action-icon1 {
  padding: 3px 6px;
  font-size: 2.4rem;
  border-radius: 50%;
}
.option__playlist-item-img-wrapper-action-icon2 {
  font-size: 2rem;
  margin: 0 30px;
  padding: 9px 8px 8px 10px;
  border-radius: 50%;
  border: 1px solid var(--white-color);
}
.option__playlist-item-img-wrapper-action-icon3 {
  padding: 4px 5px;
  font-size: 2.4rem;
  border-radius: 50%;
}

.option__playlist-item-img-wrapper-action-icon1:hover,
.option__playlist-item-img-wrapper-action-icon3:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.option__artist-item-wrapper:hover .option__artist-item-wrapper-img-action,
.option__mv-item-wrapper:hover .option__mv-item-wrapper-img-action,
.option__playlist-item-img-wrapper:hover
  .option__playlist-item-img-wrapper-action {
  display: flex;
}
/*mv*/
.option__mv {
  margin-bottom: 30px;
}
.option__mv:hover .option__mv-heading .more-mv {
  opacity: 1;
  transform: translate(0);
}
.option__mv-heading {
  width: 100%;
}

.option__mv-item-wrapper-img {
  padding-top: 57%;
  background-size: cover;
  transition: transform 0.7s ease;
  overflow: hidden;
}
.option__mv-item-wrapper-img-action {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.option__artist-item-wrapper-img-action i,
.option__mv-item-wrapper-img-action i {
  font-size: 2.4rem;
  padding: 5px 8px;
  border-radius: 50%;
  border: 1px solid var(--white-color);
}
.option__artist-item-wrapper-img-action-icon:hover,
.option__mv-item-wrapper-img-action-icon:hover {
  opacity: 0.8;
}
.option__mv-item-content {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 6px;
}
.option__mv-item-content-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 5px;
}
.option__mv-item-content-name {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.option__artist-item-content-singer,
.option__mv-item-content-title {
  font-size: 1.4rem;
  font-weight: 600;
  padding: 10px 0 2px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.option__mv-item-content-title:hover {
  color: var(--primary-color);
}
.option__artist-item-content-desc,
.option__mv-item-content-singer {
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--blur-color);
  cursor: default;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
/* artist*/
.option__artist {
  margin-bottom: 120px;
}
.option__artist:hover .option__artist-heading .more-artist {
  opacity: 1;
  transform: translateX(0);
}
.option__artist-item-wrapper-img {
  overflow: hidden;
}
.option__artist-item-wrapper {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  background-color: #ccc;
}
.option__art-item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.option__artist-item-content-singer-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 124px;
  height: 30px;
  background-color: var(--sidebar-bg);
  border-radius: 20px;
  font-size: 1.4rem;
  font-weight: 400;
  border: 1px solid var(--active-color);
  margin-top: 10px;
}
.option__artist-item-content-desc,
.option__artist-item-content-singer {
  text-align: center;
}
.option__artist-item-content-singer-profile span {
  text-transform: uppercase;
  padding-left: 6px;
}
.option__artist-item-content-singer:hover {
  color: var(--primary-color);
  cursor: pointer;
}
.option__artist-item-content-singer-profile:hover {
  cursor: pointer;
  opacity: 0.8;
}
/*NEXT SONG */
.main-nextsong {
  position: fixed;
  top: 0;
  right: 0;
  bottom: var(--music-control-height);
  width: var(--next-song-width-laptop);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.nextsong__option {
  display: flex;
  justify-content: center;
  height: 70px;
  align-items: center;
  font-size: 1.2rem;
}
.nextsong__option-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 34px;
  background-color: var(--active-color);
  width: 230px;
  border-radius: 20px;
}
.nextsong__option-wrapper-playlist {
  flex: 1;
  text-align: center;
  margin: 0 3px;
  color: white;
}
.nextsong__option-wrapper-history {
  flex: 1;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  margin: 0 3px;
}
.active {
  line-height: 28px;
  border-radius: 20px;
}
.nextsong__option-wrapper-playlist.active {
  background-color: #816399;
}
.nextsong__option-wrapper-history.active {
  background-color: #816399;
}
.nextsong__box {
  height: calc(100vh - var(--music-control-height) - 70px);
  overflow: auto;
}
.nextsong__box::-webkit-scrollbar {
  display: none;
}
.nextsong__last-list {
  list-style: none;
}
.nextsong-item {
  justify-content: left;
  border: none;
}
.nextsong-item.nextsong-item--active .nextsong-item-img-playbtn {
  display: flex;
}
.nextsong-item-body {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.nextsong-item:hover .nextsong-item-img-playbtn {
  display: flex;
}
.nextsong-item-img.nextsong-item--active-onplay .nextsong-item-img-playbtn {
  display: none;
}
.nextsong-item-img.nextsong-item--active-onplay .nextsong-item-img-playing-box {
  display: flex;
}
.nextsong-item:hover.nextsong-item--active-onplay .nextsong-item-img-playbtn {
  display: none;
}
.nextsong-item.nextsong-item--active {
  background-color: var(--primary-color);
}
.nextsong-item:hover {
  background-color: var(--active-color);
}
.nextsong__first {
  margin: 0 4px 0;
  list-style: none;
}
.nextsong__last {
  margin: 0 5px 0;
}
.nextsong__last-title {
  margin: 20px 0 6px 4px;
  padding: 0;
  color: var(--white-color);
  font-size: 1.5rem;
  font-weight: 500;
}

.active {
  display: block;
}

.container-discover__slider {
  display: flex;
  border-radius: 5px;
  position: relative;
  color: #fff;
  margin: 100px 30px 60px 35px;
  height: 164px;
}
.container-discover__slider-item {
  background-size: cover;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.9s;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  transition-delay: 0s;
  padding: 15px;
  width: 33.33%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
.container-discover__slider-item-img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.container-discover__slider-left {
  left: 2%;
}

.container-discover__slider-left,
.container-discover__slider-right {
  font-size: 3rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 12px 18px;
  display: none;
}
.container-discover__slider-right {
  right: 2%;
}
.container-discover__slider-item-first {
  transform: translateX(100%);
  z-index: 1;
}
.container-discover__slider-item-second {
  transform: translateX(0);
  z-index: 3;
}
.container-discover__slider-item-third {
  transform: translateX(100%);
  z-index: 4;
}
.container-discover__slider-item-four {
  transform: translateX(200%);
  z-index: 3;
}
.container-discover__slider:hover .container-discover__slider-right,
.container-discover__slider:hover .container-discover__slider-left {
  display: block;
}
/*ZINGCHART*/
.main-container-zingchart {
  margin: 90px 80px 0 80px;
}
.zingchart__headding {
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
  display: flex;
  padding: 20px 0;
  margin-bottom: 30px;
}
.zingchart__item-left-stt {
  color: rgba(74, 144, 226, 0);
  font-size: 4rem;
  font-weight: 700;
  width: 50px;
  text-align: center;
  display: block;
  margin: 0 6px 0 8px;
  -webkit-text-stroke: 1.5px #fff;
}
.zingchart__item-left-line {
  color: rgba(255, 255, 255, 0.5);
  font-size: 4rem;
  margin-right: 8px;
}
.zingchart__item-first {
  -webkit-text-stroke: 1.5px #4a90e2;
}
.zingchart__item-second {
  -webkit-text-stroke: 1.5px #50e3c2;
}
.zingchart__item-third {
  -webkit-text-stroke: 1.5px #e35050;
}
.zingchart__100more {
  display: flex;
  justify-content: center;
  margin: 24px 0 120px 0;
}
.zingchart__100more-body {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 50px;
  width: 134px;
  height: 38px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.zingchart__100more span:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.hide {
  display: none;
}
